<div>
    <header>
        <h2>{{name}}</h2>
        <span>Posted By {{user.username}} on {{format_date date_created}}</span>
    </header>
    <p>
        {{description}}
    </p>
</div>

<form class="comment-form" action="/api/comments/{{id}}" method="POST">
    <div>
        <header>
            <h3>Create New Comment</h3>
        </header>
        <label>Comment</label>
        <input type="text" id="comment-description" name="description">
        <button type="submit">Submit</button>       
    </div>
</form>