<div class="card border-dark mb-3" style="max-width: 80rem;">
    <header class="card-header bg-dark">
        <h2 class="card-title">{{name}}</h2>
        <span>Posted By {{user.username}} on {{format_date date_created}}</span>
    </header>
    <p class="card-text">
        {{description}}
    </p>
</div>

<form class="comment-form" action="/api/comments/{{id}}" method="POST">
    <div>
        <header class="card-header bg-dark comment-header">
        </header>
        <div class="mb-3 comment-body">
            <label class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment-description" name="description">
        </div>
        <button class="comment-btn btn btn-secondary" type="submit">Submit</button>       
    </div>
</form>

<h3 class="comment-h3 text-center">Comments</h3>
{{#each comments as |comment|}}
<section class="comment">
    <header class="card-header bg-dark comment-header">
    </header>
    <div class="mb-3 comment-body">
        <p>{{comment.description}}</p>
        <span class="comment-info">-{{comment.user.username}} {{format_date comment.date_created}}</span>
    </div>
</section>
{{/each}}