{{!-- LOOP through logged in user blog posts and display here --}}

<h1 class="text-center">{{title}}</h1>

<form class="new-blog-form">
    <div class="card border-dark mb-3">
        <header class="card-header bg-dark">
            <h3 class="card-title">Create New Post</h3>
        </header>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input class="form-control" type="text" id="blog-name">
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                <input class="form-control" type="text" id="blog-description">
                <button type="submit" class="create-blog btn btn-primary">Create</button>       
            </div>
        </div>
    </div>
</form>

<form class="edit-blog-form" data-id="{{id}}">
    <div class="card border-dark mb-3">
        <header class="card-header bg-dark">
            <h3 class="card-title">Edit Blog</h3>
        </header>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input class="form-control" type="text" id="new-blog-name">
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                <input class="form-control" type="text" id="new-blog-description">
                <button type="submit" class="update-blog btn btn-primary">Update</button>   
            </div>
        </div>    
    </div>
</form>

<div class="user-blogs">
    {{#if blogs}}
        {{#each blogs}}
        <section class="dashboard-blog bg-dark">
            <div>
                <span>{{name}}</span>
                <span>{{format_date date_created}}</span>
            </div>
            <div>
                <button class="edit btn btn-primary" data-id="{{id}}">Edit</button>
                <button class="delete btn btn-danger" data-id="{{id}}">Delete</button>
            </div>
        </section>
        {{/each}}
    {{/if}}
</div>
<button class="new-blog-btn btn btn-success">New Blog</button>

<script src="./js/blog.js"></script>