{{!-- LOOP THROUGH BLOGS TO DISPLAY THEM ALL --}}

<!-- Render sub layout -->
{{#each blogs as |blog| }}

    <div class="card border-dark mb-3" style="max-width: 80rem;">
        <a href="/blogs/{{blog.id}}">
            <header class="card-header bg-dark">
                <h2 class="card-title">{{blog.name}}</h2>
                <span>Posted By {{blog.user.username}} on {{format_date date_created}}</span>
            </header>

            <p id="card-text" class="card-text">
                {{blog.description}}
            </p>
        </a>
    </div>

{{/each}}