{{!-- LOOP THROUGH BLOGS TO DISPLAY THEM ALL --}}

<!-- Render sub layout -->
{{#each blogs as |blog| }}

    <div>
        <a href="/blogs/{{blog.id}}">
            <header>
                <h2>{{blog.name}}</h2>
                <span>Posted By {{blog.user.username}} on {{format_date date_created}}</span>
            </header>
        <p>
            {{blog.description}}
        </p>
        </a>
   
    </div>

{{/each}}
